
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Professores</h2>
<ul>
    <li>
        <a href="/Teacher/Create">Cadastrar Professor</a>
    </li>
    <li>
        <a href="/Teacher/Read">Listar Professor</a>
    </li>
</ul>
