
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>
<ul>
    <li>
        <a href="/Students/Create">Cadastrar Aluno</a>
    </li>
    <li>
        <a href="/Students/Read">Listar Aluno</a>
    </li>
</ul>

