<!DOCTYPE html>
<html>
<head>
    <title>Carros</title>
</head>
<body>
    <header style="height:100px; background: black">
        
    </header>
    <main>
    @RenderBody()
    </main>
</body>
</html>
